<app-menu-title> </app-menu-title>

<app-create-card></app-create-card>

<div class="container">
  <div class="container__article-main" *ngFor="let card of cards">
    <app-big-card
      [Id]="card.id"
      [bigCardTitle]="card.title"
      [bigCardDesc]="card.description"
      [bigCardImage]="card.photo"
      >
    </app-big-card>

  </div>

  <div class="container__article-others" >
    <app-small-card *ngFor="let card of cardsFake"
    [Id]="card.id"
    [cardTitle]="card.title"
    [description]="card.description"

    [cardImage]="card.photo">

  </app-small-card>


  </div>


</div>

